<p>
Hello {{USERNAME}},
</p>

<p>
A Yoda account has been created for you by {{CREATOR}}.
Please contact this person in case it is unclear why
you have received this invitation.
</p>

<p>
Yoda is a research data management system.
You can activate your account by visiting the following webpage:
</p>

<a href="{{HASH_URL}}">{{HASH_URL}}</a>

<p>
More information on Yoda can be found 
at <a href="https://www.uu.nl/yoda">https://www.uu.nl/yoda</a>
</p>

<p>
Kind regards,
</p>

<p>
The Yoda External User Service
</p>
