Hello {{USERNAME}},

A Yoda account has been created for you by {{CREATOR}}.
Please contact this person in case it is unclear why
you have received this invitation.

Yoda is a research data management system.
You can activate your account by visiting the following webpage:

{{HASH_URL}}

More information on Yoda can be found at https://www.uu.nl/yoda

Kind regards,

The Yoda External User Service
