<p>
Hello {{USERNAME}},
</p>

<p>
A Yoda account has been created for you by {{CREATOR}}.
</p>

<p>
You can activate your account by visiting the following webpage:
</p>

<a href="{{HASH_URL}}">{{HASH_URL}}</a>

<p>
Please contact the helpdesk by replying to this e-mail if you have any
questions.
</p>

<p>
Kind regards,
</p>

<p>
The Yoda External User Service
</p>
