Hello {{USERNAME}},

You have requested a new password.

You can reset your password by visiting the following webpage:

{{HASH_URL}}

Please contact the helpdesk by replying to this e-mail if you have any
questions.

Kind regards,

The Yoda External User Service
