RewriteEngine on

## Rewrite everything to index.php except for robots.txt and /static directories.
RewriteCond $1 !^(index\.php|robots\.txt|([^/]+/)?static/)
RewriteRule ^(.*)$ index.php/$1 [L]

SetEnvIf YODA_APP_ROOT ^$ YODA_APP_ROOT=../../extuser

## Forbid embedding this application in other websites.
## Disallow loading resources like scripts and stylesheets from third party sources.
## XXX: Consider getting rid of all inline JS and CSS so we can remove the 'unsafe-inline'
## option, allowing for additional protection against XSS attacks.
Header set   Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; frame-ancestors 'self'; form-action 'self'"
Header set X-Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; frame-ancestors 'self'; form-action 'self'"
Header set              X-Webkit-CSP "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; frame-ancestors 'self'; form-action 'self'"
