{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Yoda account activation{% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}

<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
           <div class="card-header">
                <div class="panel-title">Activate account</div>
            </div>
            {% if errors | length > 0 %}
            <ul>
            {% for error in errors %}
            <li> <span id="capitals" class="error text-danger">{{ error }}</span>
            {% endfor %}
            </ul>
            {% endif %}
            <p> <span id="password-validation-errors" class="error text-danger"></span></p>
        <div class="card-body">
               <form method="POST" class="form-horizontal">
                    {% if csrf_tokens_enabled() %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="hidden" name="secret_hash" value="{{ secret_hash }}">

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="f-activation-username">Username</label>
                        <div class="col-sm-8">
                            <input name="username" id="f-activation-username" class="form-control" type="text" value="{{ username }}" readonly required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="f-activation-password">Password</label>
                        <div class="col-sm-8">
                            <input name="password" id="f-activation-password" class="form-control" type="password" required />
                        </div>
                        <div class="col-sm-1">
                            <i class="glyphicon glyphicon-ok password-check-ok password-check-icon-ok hide"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="f-activation-password-again">Password (confirm)</label>
                        <div class="col-sm-8">
                            <input name="password_again" id="f-activation-password-again" class="form-control" type="password" required />
                        </div>
                        <div class="col-sm-1">
                            <i class="glyphicon glyphicon-ok password-check-ok password-again-check-icon-ok hide"></i>
                        </div>
                    </div>

                   <p>{% include "password-requirements.html" %}</p>

                   <div class="form-group">
                        <label class="col-sm-3 control-label" for="f-activation-username"></label>
                        <div class="col-sm-9">
                            <br />
                            By accessing and using Yoda, you agree to be bound by the
                            Yoda terms of use as defined by Utrecht University. These terms are
                            listed at <a href="https://www.uu.nl/en/research/yoda/what-is-yoda/terms-of-use">https://www.uu.nl/en/research/yoda/what-is-yoda/terms-of-use</a>
                            <br />
                            <div class="checkbox">
                                <label><input type="checkbox" value="accepted" name="cb-activation-tou" id="cb-activation-tou" required/><strong>Please accept terms of use</strong></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input name="submit_button" id="f-activation-submit" class="btn btn-primary" type="submit" value="Activate" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

  const password1Input = document.querySelector('#f-activation-password');
  const password2Input = document.querySelector('#f-activation-password-again');
  const passwordErrors =  document.querySelector('#password-validation-errors');
  const submitButton = document.querySelector('#f-activation-submit');

  function validatePassword() {
   complexity_regex = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z\s]).+$/);
   if ( password1Input.value.trim().length < 10 ) {
     passwordErrors.innerHTML = 'The password needs to be at least 10 characters long.';
     submitButton.disabled = true;
   }
   else if ( password1Input.value.trim().length > 1000 ) {
     passwordErrors.innerHTML = 'The password can be at most 1000 characters long.';
     submitButton.disabled = true;
   }
   else if ( ! complexity_regex.test(password1Input.value.trim()) ) {
     passwordErrors.innerHTML = 'The password needs to contain an uppercase letter, lowercase letter, number and punctuation character.';
     submitButton.disabled = true;
   }
   else if ( password2Input.value.trim().length == 0 ) {
     passwordErrors.innerHTML = 'Please enter the password again.';
     submitButton.disabled = true;
   }
   else if ( password1Input.value !== password2Input.value ) {
     passwordErrors.innerHTML = 'The passwords do not match.';
     submitButton.disabled = true;
   }
   else {
     passwordErrors.innerHTML = '';
     submitButton.disabled = false;
   }
  }

  password1Input.addEventListener('input', validatePassword);
  password2Input.addEventListener('input', validatePassword);
</script>


{% endblock content %}
