{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Reset or change password{% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}
<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-body">
            We have sent you an email to reset your password.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
