{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Yoda change password{% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}

<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="panel-title">Reset or change your password</div>
            </div>
            {% if errors | length > 0 %}
            {% for error in errors %}
            <ul>
             <span id="capitals" class="error text-danger">{{ error }}</span>
            </ul>
            {% endfor %}
            {% endif %}
            <p> <span id="password-validation-errors" class="error text-danger"></span></p>
            <div class="card-body">
                <form method="post" id="password-reset-form" class="form-horizontal">
                    {% if csrf_tokens_enabled() %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-reset-password-username">Username (email address)</label>
                        <div class="col-sm-6">
                            <input
                                name="username"
                                id="f-reset-password-username"
                                class="form-control col-sm-6"
                                type="text"
                                maxlength="64"
                                value="{{ username }}" readonly
                                required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-reset-password-password">Password</label>
                        <div class="col-sm-6">
                            <input
                                name="password"
                                id="f-reset-password-password"
                                class="form-control col-sm-6"
                                type="password"
                                maxlength="1000"
                                required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-reset-password-password-again">Password (again)</label>
                        <div class="col-sm-6">
                            <input
                                name="password_again"
                                id="f-reset-password-password-again"
                                class="form-control col-sm-6"
                                type="password"
                                maxlength="1000"
                                required />
                        </div>
                    </div>

                    <div class="ps-2 pe-2">
                        <input name="submit_button" id="f-reset-submit" class="btn btn-primary col-sm-6 offset-sm-3" type="submit" value="Reset password" />
                    </div>
                </form>

                {% include "password-requirements.html" %}
            </div>
        </div>
    </div>
</div>

<script>

  const password1Input = document.querySelector('#f-reset-password-password');
  const password2Input = document.querySelector('#f-reset-password-password-again');
  const passwordErrors =  document.querySelector('#password-validation-errors');
  const submitButton = document.querySelector('#f-reset-submit');

  function validatePassword() {
   complexity_regex = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z\s]).+$/);
   if ( password1Input.value.trim().length < 10 ) {
     passwordErrors.innerHTML = 'The password needs to be at least 10 characters long.';
     submitButton.disabled = true;
   }
   else if ( password1Input.value.trim().length > 1000 ) {
     passwordErrors.innerHTML = 'The password can be at most 1000 characters long.';
     submitButton.disabled = true;
   }
   else if ( ! complexity_regex.test(password1Input.value.trim()) ) {
     passwordErrors.innerHTML = 'The password needs to contain an uppercase letter, lowercase letter, number and punctuation character.';
     submitButton.disabled = true;
   }
   else if ( password2Input.value.trim().length == 0 ) {
     passwordErrors.innerHTML = 'Please enter the password again.';
     submitButton.disabled = true;
   }
   else if ( password1Input.value !== password2Input.value ) {
     passwordErrors.innerHTML = 'The passwords do not match.';
     submitButton.disabled = true;
   }
   else {
     passwordErrors.innerHTML = '';
     submitButton.disabled = false;
   }
  }

  password1Input.addEventListener('input', validatePassword);
  password2Input.addEventListener('input', validatePassword);
</script>


{% endblock content %}
