{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Yoda change password{% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}

<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="panel-title">Reset or change your password</div>
            </div>
            {% if errors | length > 0 %}
            {% for error in errors %}
            <ul>
             <span id="capitals" class="error text-danger">{{ error }}</span>
            </ul>
            {% endfor %}
            {% endif %}
            <div class="card-body">
                <form method="post" class="form-horizontal">
                    {% if csrf_tokens_enabled() %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-reset-password-username">Username (email address)</label>
                        <div class="col-sm-6">
                            <input
                                name="username"
                                id="f-reset-password-username"
                                class="form-control col-sm-6"
                                type="text"
                                maxlength="64"
                                required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-reset-password-password">Password</label>
                        <div class="col-sm-6">
                            <input
                                name="username"
                                id="f-reset-password-password"
                                class="form-control col-sm-6"
                                type="password"
                                maxlength="1000"
                                required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label" for="f-reset-password-password-again">Password (again)</label>
                        <div class="col-sm-6">
                            <input
                                name="username"
                                id="f-reset-password-password-again"
                                class="form-control col-sm-6"
                                type="password"
                                maxlength="1000"
                                required />
                        </div>
                    </div>

                    <div class="ps-2 pe-2">
                        <input id="f-login-submit" class="btn btn-primary col-sm-6 offset-sm-3" type="submit" value="Reset password" />
                    </div>
                </form>

                {% include "password-requirements.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
