{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Yoda change password{% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}
<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-body">
            <p> 
            Your password has been updated. You can now use your new password to login to any Yoda service.
           </p>
           </div>
        </div>
    </div>
</div>
{% endblock content %}
